@page "/"

<h1>Welcome To The Virus Survey Tool!</h1>

<p>
    &nbsp;&nbsp;&nbsp;&nbsp;The purpose of this project is to create a survey tool for users to take a self assessment before <br />
    they travel to a school, business or other organization. The survey tool will generate an assessment <br />
    to engage the user on how they are feeling to help prevent the spread of viruses. This survey tool <br />
    will use a randomly-selected set of questions which will engage the user without boring them.
</p>

